.about-content {

  & .about-paragraph>div {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 17px;
    padding: calc(var(--standard-px) * 1.5);
    background-color: var(--primary-bg-color);
    border-radius: 5px;
    margin-bottom: calc(var(--standard-px) * 2);
  }

  & .about-paragraph>div strong {
    color: var(--primary-color);
  }

  & .about-paragraph h2 {
    position: relative;
    margin-bottom: var(--standard-px);
    padding-left: 12px;
    line-height: 28px;
  }

  & .about-paragraph h2::before {
    content: " ";
    position: absolute;
    height: 100%;
    width: 6px;
    left: 0px;
    background-color: var(--primary-color);
    border-radius: 2px;
  }

  & .about-profile-image img {
    width: 100%;
    max-width: 360px;
  }

  @media (max-width: 900px) {
    .about-profile-image img {
      display: none;
    }
  }
}

/* @media (min-width: 900px) {
  .about-content {
    flex-direction: row-reverse;
  }
} */