.about-content {

    & .content {
        max-width: 500px;
    }

    & .content p {
        font-size: 19px;
    }

    & .about-profile-image img {
        width: 100%;
        max-width: 360px;
    }
}