.home-profile-image img {
    width: 100%;
    max-width: 280px;
}

.intro-paragraph {
    max-width: 100%;
}

@media (min-width: 600px) {

    .home-profile-image img {
        max-width: 430px;
    }

    .container {
        width: 600px;
    }
}

@media (min-width: 900px) {

    .home-page-container {
        flex-direction: row;
    }

    .intro-paragraph {
        max-width: 475px;
    }
}

@media (min-width: 1200px) {

    .intro-paragraph {
        max-width: 700px;
    }
}

.contact-icons {
    & a {
        display: flex;
        width: 45px;
        height: 45px;
        padding: var(--standard-px);
        border-radius: 5px;
        transition: .3s;
        background-color: var(--secondary-bg-color);
        box-shadow: -2px 2px 4px 0px var(--primary-color)
    }

    & a:hover {
        transform: scale(1.1);
    }

    & a img {
        width: 100%;
    }

}