@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');
@import url("./normalize.css");
@import url("./root.css");
@import url("./utilities.css");
@import url("./header.css");
@import url("./home-page-section.css");
@import url("./about-section.css");
@import url("./skills-section.css");
@import url("./projects-section.css");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

:is(a, p, h1, h2, h3) {
  color: var(--text-color);
}

img {
  user-select: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 14px;
  padding-left: 14px;
  width: 100%;
}

@media (min-width: 600px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 900px) {
  .about-content {
    flex-direction: row-reverse;
  }

  .container {
    width: 800px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1300px;
  }
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 0px;
}

.section-title {
  font-size: 25px;
}

footer {
  background-color: var(--primary-bg-color);
}