.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.p-1 {
    padding: var(--standard-px);
}

.p-2 {
    padding: calc(var(--standard-px) * 2);
}

.py-1 {
    padding-top: var(--standard-px);
    padding-bottom: var(--standard-px);
}

.py-2 {
    padding-top: calc(var(--standard-px) * 2);
    padding-bottom: calc(var(--standard-px) * 2);
}

.px-1 {
    padding-left: var(--standard-px);
    padding-right: var(--standard-px);
}

.px-2 {
    padding-left: calc(var(--standard-px) * 2);
    padding-right: calc(var(--standard-px) * 2);
}

.gap-1 {
    gap: var(--standard-px);
}

.gap-2 {
    gap: calc(var(--standard-px) * 2);
}

.gap-3 {
    gap: calc(var(--standard-px) * 3);
}

.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.primary-bg-color {
    background-color: var(--primary-bg-color);
}

.secondary-bg-color {
    background-color: var(--secondary-bg-color);
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.shadow {
    box-shadow: 0px 0px 7px -6px
}