---
import visitIcon from "../assets/icons/visit.svg";

interface Props {
    link: string;
    text: string;
}

const { link, text } = Astro.props;
---

<a
    href={link}
    target="_blank"
    rel="noopener noreferrer"
    class="flex items-center gap-2 px-6 py-3 rounded-lg font-semibold text-sm transition-colors duration-300 bg-primary text-white border border-primary hover:bg-primary/75"
>
    <img src={visitIcon.src} alt="External Link" class="size-4 invert" />
    {text}
</a>
