---
import favicon from "../assets/favicon.png";
---

<!doctype html>
<html lang="en">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="generator" content={Astro.generator} />
	<link rel="icon" type="image/png" href={favicon.src} />

	<title>Abdulrhman Goni's Portfolio</title>
	<body>
		<slot />
	</body>
</html>
