---
import ProjectCard from "../components/ProjectCard.astro";
import { projectsData } from "../data/projects.ts";
---

<section id="projects-section">
    <div class="section-title flex flex-row items-center mb-8">
        <h1>My <span class="text-primary">Projects</span></h1>
    </div>

    <div
        id="projects-container"
        class="flex flex-col gap-12 max-w-[1300px] w-full mx-auto px-2"
    >
        {
            projectsData.map((project, i) => (
                <ProjectCard project={project} index={i} />
            ))
        }
    </div>
</section>
