name: Deploy Portfolio Site

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - "tsconfig.json"

concurrency:
  group: "deploy-portfolio-site"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies and build the portfolio site
        run: |
          npm install -g pnpm@latest-10
          pnpm install
          pnpm build

      - name: Upload portfolio site files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@v4
        with:
          path: dist/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy portfolio site to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

  notify:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - uses: actions/checkout@master
      - name: Pushbullet Notification
        uses: yassinebridi/pushbullet-action@v1.0.2
        env:
          PB_TOKEN: ${{ secrets.PUSH_MESSAGE_TOKEN }}
          PB_TYPE: note
          PB_TITLE: Portfolio Website deployment
          PB_BODY: Abdulrhman Goni's portfolio website deployed successfully !
